

.left_panel {
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0px 40px 0px 40px;
}

.left_panel table {
    margin: 0;
}

.right_panel {
    display: flex;
    color: black;
    flex-direction: column;
}

.main_block {
    margin-top: 50px;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

table {
    margin-bottom: 0!important;
}
