.form-group {
    text-align: center;
}

.login_menu {
    border-radius: 8px;
    background: linear-gradient(to top left, #000080, #b30000);
    width: 100%;
}

.head {
    position: absolute;
    width: 100%;
    top: 0;
}

span {
    color: white;
}

nav ul {
    list-style: none;
    padding: 0px 40px 0px 40px;
    margin-top: 16px!important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group label {
    color: white;
}

form {
    width: 50%;
}

.input_warnings {
    height: 20px;
}

#registration_button {
    width: 100%;
    margin-top: 30px;
}

.login_menu {
    margin: 0;
    padding: 20px 0 20px 0;
}
