
.left_panel {
    padding: 0;
}
.nav_left a {
    float: left;
}

.nav_right img {
    max-height: 100px;
    max-width: 100px;
}

nav ul {
    list-style: none;
    padding: 0px 40px 0px 40px;
    margin-top: 16px !important;
    text-align: center;
}

.nav_center a {
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 15px;
}

.nav_center a:hover {
    text-decoration: none;
    color: black;
    margin: 15px;
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 15px;
    border-bottom: black solid 3px;

}

.btn-success {
    width: 50%;
}

#upload_file {
    width: 50%;
    margin: auto;
}

#upload_file:hover {
    border-top: 1px solid #b30000;
    margin-top: -1px;
}

.custom-file-label {
    font-size: 10px;
    color: #b30000;
}

.card-body {
    padding: 5px!important;
}

table {
    margin-bottom: 0!important;
    font-size: 13px;
}

table input, select {
    font-size: 13px!important;
}

.photo_label {
    display: block;
}
